%h3 Contact Us
%hr.soften.margin_top_5px
= link_to "Sandip Ransing", 'http://github.com/sandipransing'
%br
= link_to "Kiran Chaudhari", 'http://github.com/kirandc'
%br
= link_to "Aditya Shedge", 'https://github.com/adityashedge'
%br
= link_to "Aditya Bharadwaj", 'http://github.com/purezen'
