%h3 Contact Us
%hr.soften.margin_top_5px
.float_right
  %img{src: 'assets/jmroad_small.jpg', alt:'Office Map'}
%p
  %b Office Address:
%p Office No: 41, Floor No. 2,
%p Infotech Towers,
%p J.M. Road,
%p Pune - 411001
%p Maharashtra,
%p India.
%br
%p
  %b Email Address:
  %span= mail_to 'info@rentmybike.in', 'info@rentmybike.in'
