%h3 Details
.row-fluid.well.detail_page
  %p
    Our application aims to cater people who want to rent their bikes to others on a daily basis but do not possess the resources to post their own rental listing online or for the matter do not have the expertise or are not interested to make a website for the same. We provide an easy to use interface for the layman to post their bike rental listing to people who are interested and allows them to communicate to each other via email notifications.
  %p
    To be able to post ones rental listing the user needs to sign up with our website. Once user is signed up he/she can put up rental listing of a bike that he/she owns. To be able to do this user needs to provide a recent picture of his bike, make, model and other details such as date of purchase, expected rent, any issues with the bike, etc.
  %p
    Any person interested in renting a bike can browse through all public rental listings and view details of bikes available. But to be able to contact the owner of the bike the user has to sign up with the website, login and only then he can view details of user whose bike he wants to rent.
  %p
    %b Disclaimer:
    The website does not accept any payments or is not liable for any bad deals. We only provide a means for people interested in renting their bikes to be able post their rental listing online. Any damage to the vehicle or any bad deals on either end is solely the responsibility of end users and not the website.
