.row  
  .span4
    %img.pull-left{alt: deal.title, src: "/assets/1.jpg"}/
  .span8
    .caption
      %label= deal.vehicle_type
      %h5= deal.title
      %p= deal.info
      %a.pull-right{href: deal_path(deal)} view details
