- if notice
  %div{class: "alert alert-success fade in"}
    %button{type: "button", class: "close", data:{dismiss: "alert"}}
      x
    %strong 
      = notice
- if alert
  %div{class: "alert alert-error fade in"}
    %button{type: "button", class: "close", data:{dismiss: "alert"}}
      x
    %strong 
      = alert
           

  
           

  
