.navbar
  .navbar-inner
    .container
      %form.navbar-search.form-inline{action: "#", style: "margin-top:6px"}
        %input{placeholder: "Location", type: "text"}/
        %input{placeholder: "Country", type: "text"}/
        .input-append
          %input{placeholder: "", type: "text"}/
          %button.btn.btn-warning
            %i.icon-search.icon-white
