.navbar
  .navbar-inner
    .container
      = form_tag search_deals_url, :class => "navbar-search form-inline", style: "margin-top:6px" do
        %input{placeholder: "Location", type: "text", name: 'city'}/
        %input{placeholder: "Country", type: "text", name: 'country'}/
        .input-append
          %input{placeholder: "", type: "text"}/
          %button.btn.btn-warning
            %i.icon-search.icon-white

