#deal_info.modal.hide.fade{:style => 'color:#112B2D'}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3.title Deal Info
  .modal-body.msg
    = render 'detail', deal: @deal
  .modal-footer
    %a.btn{"data-dismiss" => "modal"} Close

