#deal_info.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3.title Deal Info
  .modal-body.msg
    %img.pull-left{src: @deal.photo.thumb.url.blank? ? '/assets/logo.png' : @deal.photo.thumb.url}
  .modal-footer
    %a.btn{"data-dismiss" => "modal"} Close

