- provide(:title, 'Deal Create')
= simple_form_for @deal, url: deals_path, html: {class: 'deal-form', :multipart => true}  do |f|
  %h3.title Create Your Deal
  .well
    = render 'form', f: f
  = submit_tag  "Save", class: 'btn btn-success'
  %a.btn{href: deals_path} Back
