= form_for @deal, url: deals_path, html: {class: 'form-horizontal'} do|f|
  %h3.title Create Deal
  = render 'form', f: f
  = submit_tag  "Save", class: 'btn btn-success'
  %a.btn{href: deals_path} Back


