// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-search.form-inline .typeahead {
  width: 217px;
}
.deal{
  margin-bottom: 20px
}
.margin_top_5px{
  margin-top: 5px;
}
