.signin{
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 100px auto 20px;
  max-width: 400px;
  padding: 19px 29px 29px;
}
.right_align{
  float: right;
}
.remember_me{
  float: left;
  margin-right: 10px !important;
}
.width_95_percent{
   width: 95%;
}
.margin_top_5px{
  margin-top: 5px;
}
.sign_in_page_grey{
  background: whitesmoke;
}
.align_centre{
  text-align: center !important;
}
