hr {
  margin-top: 5px;
}

.image-box{
    padding:20px 50px;
}

.img-width{
    width:20px;
}

.button-box{
    padding:10px 20px;
}
.feedback-label-width input[type="text"], textarea{
    width: 95%;
}
.centre_align{
    text-align: center;
}
