.row
  .span4
    .thumbnail
      %h3{style: "text-align:center"} Website Design
      %img{alt: "#", src: "/assets/1.jpg"}/
      .caption
        %h5 Your Website represents you
        %p
          We are helping you to design you a professional website.Converting PSD to XHTML & CSS. Even more in Graphic Design such as Coverpage, Logo etc.
        %a.pull-right{href: "#"} view details
        %br/
