.row-fluid
  .span4.thumbnail

  .span8.pull-right.deal
    .span4
      %img.pull-left{alt: "#", src: "/assets/1.jpg"}/
    .span8
      .caption
        %label Website Design
        %h5 Your Website represents you
        %p
          We are helping you to design you a professional website.Converting PSD to XHTML & CSS. Even more in Graphic Design such as Coverpage, Logo etc.
        %a.pull-right{href: "#"} view details
  
  .span8.pull-right.deal
    .span4
      %img.pull-left{alt: "#", src: "/assets/1.jpg"}/
    .span8
      .caption
        %label Website Design
        %h5 Your Website represents you
        %p
          We are helping you to design you a professional website.Converting PSD to XHTML & CSS. Even more in Graphic Design such as Coverpage, Logo etc.
        %a.pull-right{href: "#"} view details
